@keyframes openKeywords {
    0%{ 
        max-height: 0; 
    }

    100% { 
        max-height: 20vh; 
    }
}

@keyframes closeKeywords {
    0%{ 
        max-height: 20vh;
         
    }

    100% { 
        max-height: 0;

    }
}

h2{
    text-align: center;
}

.keywordsList{
    animation: openKeywords 0.5s ease-in-out;
    color: #FFF6E5;
    margin: 0;
    background-color: hsl(0, 92%, 30%);
    border-radius: 15px;
    list-style: none;
    font-size: 0.7em;
    padding: 10px;
    max-height: 20vh;
    overflow: scroll;
    z-index: 1;
    position: relative;
    min-width: 200px
}

.keywordsListReverse{
    animation: closeKeywords 0.5s ease-in-out;
    color: #FFF6E5;
    margin: 0;
    background-color: hsl(0, 92%, 30%);
    border-radius: 15px;
    list-style: none;
    font-size: 0.7em;
    padding: 10px;
    max-height: 0;
    overflow: scroll;
    z-index: 1;
    position: relative;
    min-width: 200px
}

.keywordsListHidden{
    display: none
}


.bloodDropContainer{
    display: flex;
    column-gap: 0.9em;
}

@keyframes bloodDrip{
    0%{
        translate: 0 0;
    }

    10%{
        translate: 0 0.5vh;
    }

    100%{
        translate: 0 50vh;
    }
}

.bloodDrop1{
    animation: bloodDrip 1s ease-in infinite;
    z-index: 0;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.sheen{
    z-index: 0;
    background-color: antiquewhite;
    border-radius: 50%;
    width: 20%;
    height: 35%;
    position: absolute;
    left: 40%;
    transform: rotate(110deg);
}

.bloodDrop2{
    animation: bloodDrip 1.2s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.bloodDrop3{
    animation: bloodDrip 1.5s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.bloodDrop4{
    animation: bloodDrip 0.8s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.bloodDrop5{
    animation: bloodDrip 1.8s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.bloodDrop6{
    animation: bloodDrip 2s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.bloodDrop7{
    animation: bloodDrip 0.7s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}

.bloodDrop8{
    animation: bloodDrip 0.9s ease-in infinite;
    border-radius: 0 50% 50% 50%;
    background-color: hsl(0, 92%, 30%);
    transform: rotate(45deg) scale(1.5);
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: relative;
    top: -2.5vh;
}