.scrollToTopButton{
    position: fixed;
    top: 1em;
    border: none;
    border-radius: 15px;
    font-family: "Creepster", system-ui;
    font-size: 1.2em;
    transition: 0.1s ease-in-out;
}

.scrollToTopButton:hover{
    transform: scale(1.1);
}

.scrollToTopButton:active{
    transform: scale(0.8);
}