.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreText{
    margin-top: 1em;
    font-size: 1.2em;
    font-family: "Creepster", system-ui;
    color: white;
}

.reviewScoreButton {
    margin-top: 5%;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none; 
    -webkit-appearance: none; 
    appearance: none;
    width: 50px;
    height: 50px;
    background-image: url('/buttonImages/20241116_002.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    background-image: url('/buttonImages/20241116_001.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.reviewTextRequired{
    font-family: "Creepster", system-ui;
    color: white;
}

.reviewTextBox:focus{
    outline: none;
    box-shadow: 0 0 10px #59cc0c;
}

.submitReviewButton{
    font-size: 1.5em;
    font-family: "Creepster", system-ui;
    text-align: center;
    border: none;
    border-radius: 15px;
    transition: 0.1s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submitReviewButton:hover{
    box-shadow: 0 0 10px #59cc0c;
}

.submitReviewButton:active{
    transform: scale(0.8);
}

/*tablet styling*/
@media screen and (min-width: 820px){
    .reviewScoreButton{
        width: 5em;
        height: 5em;
    }

    .scoreText{
        font-size: 2em;
    }

    .submitReviewButton{
        font-size: 2em;
    }

    .reviewTextRequired{
        font-size: 2em;
    }

    .reviewTextBox{
        font-size: 2em;
    }
}

