.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewScoreButton {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none; 
    -webkit-appearance: none; 
    appearance: none;
    width: 50px;
    height: 50px;
    background-image: url('/buttonImages/20241116_002.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    background-image: url('/buttonImages/20241116_001.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



