.tagsHeader{
    font-size: 2em;
    text-align: center;
}

.tags{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
}

.synopsisHeader{
    font-size: 2em;
    text-align: center;
}

.synopsis{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
}

.castHeader{
    font-size: 2em;
    text-align: center;
}

.castText{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
}