.creatorHeader{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-align: center;
}

.creator{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 7%;
    text-align: center;
}

.tagsHeader{
    margin-top: 7%;
    margin-bottom: 0;
    font-size: 2em;
    text-align: center;
}

.tags{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 7%;
}

.synopsisHeader{
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.synopsis{
    margin-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 7%;
}

.castHeader{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.castText{
    margin-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 7%;
}