/*mobile styling*/
body{
    font-family: "Nosifer", sans-serif;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1{    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(124, 10, 10);
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

.headerLink{
    text-decoration: none;
}

