

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errorsList{
    padding: 0;
    text-align: center;
    margin: 0;
}

.error{
    height: 0;
    display: block;
    animation-name: fadeOut;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    animation-delay: 2s;
    text-align: center;
    margin: 0;
}