.loadMoreButton{
    border: none;
    border-radius: 15px;
    font-family: "Creepster", system-ui;
    font-size: 1.2em;
    position: relative;
    bottom: 0.5em;
    transition: 0.1s ease-in-out;
}

.loadMoreButton:hover{
    transform: scale(1.1);
}

.loadMoreButton:active{
    transform: scale(0.8);
}