.movieWrapper{
    margin-top: 7em;
    font-family: "Creepster", system-ui;
    color: #FFF6E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieTitle{
    font-size: 3em;
    text-align: center;
}

.releaseDate{
    margin-top: 7%;;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 7%;
}

.director{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 7%;
}

.franchise{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 0;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.dropdown{
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
}