.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 90vw;
    border: 5px solid red;
    min-height: 100%;
    position: relative;
    margin-bottom: 1em;
}

.username{
    position: absolute;
    left: 0;
    top: 0;
}

.reviewText{
    position: relative;
    text-align: left;
    font-size: 1em;
    margin-top: 2em;
    overflow-wrap: anywhere;
    border: 5px solid gray;
}

.reviewScore{
    width: 50px;
    height: 50px;
    background-image: url('/buttonImages/20241116_001.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}