.postedReviewsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    row-gap: 5%;
}