.postedReviewsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    background-color: rgb(121, 19, 19);
    width: 90%;
}

.reviewList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 90%;
}