.reviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 90vw;
    border: 5px solid red;
    height: 100%;
}

.username{
    left: 1.5em;
}

.reviewText{
    position: relative;
    text-align: left;
    font-size: 0.7em;
    overflow-wrap: anywhere;
}

.scoreContainer{
    right: 5%;
}

.reviewScore{
    width: 50px;
    height: 50px;
    background-image: url('/buttonImages/20241116_001.png');
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}