body{
    display: block;
}

.searchBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
}

.searchBar{
    font-size: 1em;
    width: 70%;
    margin-bottom: 1em;
}

.buttonsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}

.searchButton{
    font-family: "Creepster", system-ui;
    font-size: 1.2em;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    background-color: whitesmoke;
    border: none;
}

.searchButton:hover{
    border-radius: 15px;
    transform: scale(1.1);
    background-color: hsl(0, 92%, 30%);
}

.searchButton:active{
    transform: scale(0.8);
    transition: 0.1s ease-in-out;
}

.addKeywords{
    font-size: 01em;
    font-family: "Creepster", system-ui;
    transition: 0.1s ease-in-out;
    border: none;
    border-radius: 15px;
}

.addKeywords:hover{
    scale: 1.1;
}

.addKeywords:active{
    scale: 0.9;
}

/*tablet styling*/
@media screen and (min-width: 820px){
    .searchBar{
        font-size: 1.5em;
    }

    .searchButton{
        font-size: 2em;
    }

    .addKeywords{
        font-size: 1.5em;
    }
}

/*desktop tyling*/
@media screen and (min-width: 1281px){
    .searchBar{
        margin-top: 1.5em;
    }

    .searchButton{
        font-size: 2em;
    }

    .addKeywords{
        font-size: 1.5em;
    }
}
