.searchBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBar{
    font-size: 1em;
    width: 70%;
}

.buttonsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border: 5px solid red;
}

.searchButton{
    font-size: 1.2em;
    border-radius: 15px;
}
