.sortBy{
    cursor: pointer;
    margin-top: 9%;
    margin-bottom: 20px;
}

.dropdown{
    color: #FFF6E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Creepster", system-ui;
}

.sortOptions{
    list-style: none;
    text-decoration: underline;
    display: flex;
    gap: 10px;
    padding: 0;
    cursor: pointer;
}

.sortOptions button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-decoration: underline;
}