.movieList{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directorName{
    color: rgb(124, 10, 10); 
    text-align: center;
}

.directorInfoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF6E5;
    font-family: "Creepster", system-ui;
    font-size: 1.2em;
}

.bio{
    margin-top: 0;
    text-align: left;
    text-indent: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.filmsHeader{
    text-align: center;
    color: #FFF6E5;
    color: rgb(124, 10, 10); 
}