body {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 95vh;           
  margin: 0;               
}

.forgotPasswordWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 5px solid red;
    border-radius: 15px;
    margin-top: 35vh;
}

.button{
    margin-top: 5%;
}