.franchiseName{
    position: relative;
    top: 100px
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movieList{
    padding: 0;
    margin-top: 100px;
}

.movieList li{
    margin-bottom: 0.5em;
}

.movieList li div{
    width: 90vw;
}