/*TODO: FIX MOVIE CARDS NOT BEING CENTERED ON TABLETS/LARGER SCREENS*/

.franchiseName{
    position: relative;
    top: 100px
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%

}

.movieList{
    padding: 0;
    margin-top: 100px;
}