/*mobile styling*/
body{
    background-color: rgb(3, 3, 3);
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton{
    width: 100%;
    min-height: 15em;
    border-radius: 15px;
    font-family: "Metal Mania", system-ui;
    font-size: 1.5em;
    color: #ffffff;
    border-color: #59cc0c;
    text-shadow: 3px 3px 4px rgb(124, 10, 10), 0 0 8px #000;
}

.newReleases{
    background-image: url('/buttonImages/istockphoto-531360565-612x612.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 10em;
    cursor: pointer;
}

.provenClassics{
    background-image: url('/buttonImages/61VPzAtzVrL._AC_UF894,1000_QL80_.jpg');
    background-size: cover;
    background-position: center;
}

.hiddenGems{
    background-image: url('/buttonImages/IGXFgI5PulNUIH2YZNE3IMg44hLAlZ_large.jpg');
    background-size: cover;
    background-position: center;
}

.surpriseMe{
    background-image: url('/buttonImages/question-mark-paint.png');
    background-size: cover;
    background-position: center;
}

/*tablet styling*/
@media screen and (min-width: 820px){
    .menuButton{
        max-width: 50%;
    }
}

/*desktop styling*/
@media screen and (min-width: 1281px){
  .menuButton{
    max-width: 20%;
  }
}

/*landscape phone styling*/
@media screen and (min-width: 900px) and (orientation: landscape) {
    .menuButton{
        min-height: 0;
        height: 10em;
        max-height: 15em;

        position: relative;
        top: 6em;
    }
}

/*landscape tablet styling*/
@media screen and (min-width: 1000px) and (orientation: landscape){
    .menuButton{
        min-height: 0;
        height: 20em;
        max-height: 20em;

        position: relative;
        top: 8em;
    }
}