
.loginWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 5px solid red;
    border-radius: 15px;
    margin-top: 50%;
}

.loginButton{
    margin-top: 5%;
    margin-bottom: 5%;
}