body {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 95vh;           
  margin: 0;          
}

.loginWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 5px solid red;
    border-radius: 15px;
    margin-top: 32vh;
}

.loginButton{
    margin-top: 5%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errorsList{
    list-style: none;
    padding: 0;
}

.error{
    display: inline-block;
    height: 0;
    animation-name: fadeOut;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    animation-delay: 2s;
}