.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.button{
    position: relative;
    bottom: 10rem;
}

.verifyEmail{
    text-align: center;
}


