.headerText{
    color: white;
    font-size: 1.4em;
    text-align: center;
    position: relative;
    top: 5.5em;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6em
}

.contentNav{
    position: relative;
    top: 8em;
}

.noResults{
    color: white;
}

.errorMessage{
    color: white;
}