
.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.resendVerificationWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 5px solid red;
    border-radius: 15px;
    position: relative;
    bottom: 7.5em;
}

.button{
    margin-top: 5%;
}

.verificationError{
    text-align: center;
}