.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.signupWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 5px solid red;
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    height: 15rem;
}

.errorList{
    list-style: none;
    text-align: center;
    padding: 0;
}

.signupButton{
    margin-top: 5%;
    margin-bottom: 5%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error{
    display: inline-block;
    height: 0;
    animation-name: fadeOut;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    animation-delay: 2s;
}