
.signupWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 5px solid red;
    border-radius: 15px;
    padding: 25px;
    margin-top: 32vh;
}

.signupButton{
    margin-top: 5%;
    margin-bottom: 5%;
}