.resultsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieCardList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}