.movieCard{
    width: 90%;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 3px green;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: black;
    color: red;
}

.posterContainer{
    width: 50%;
}

.poster{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.movieTitle{
    font-size: 0.8em;
    margin: 0;
}

li{
    margin-bottom: 20px;
}

.info{
    padding: 0;
    list-style: none;
    font-size: 0.7em;
}