.movieWrapper{
    font-family: "Creepster", system-ui;
    color: #FFF6E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieTitle{
    font-size: 3em;
    text-align: center;
}

.releaseDate{
    margin-top: 7%;;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 7%;
}

.director{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 7%;
}

.franchise{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 0;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 7%;
}

.tagsHeader{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    text-align: center;
}

.tags{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 7%;
}

.synopsisHeader{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.synopsis{
    margin-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 7%;
}

.castHeader{
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.castText{
    margin-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 7%;
}

.errorWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noMovieFound{
    font-family: "Creepster", system-ui;
    color: #FFF6E5;
    text-align: center;
}